<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie słownika</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script type="text/javascript" th:inline="javascript">
        let maxElementsNumber = [[${maxDictionaryElementsNumber}]] - 1;
        let fieldsNamesArray;
        let elementsIndex = 1;
        let handlingResult;

        function handleSubmit() {
            document.getElementById("duplicatedElementsWarn").style.visibility = "hidden";

            fieldsNamesArray = [];
            handlingResult = true;
            let mainFieldName = document.getElementById("mainName").value;
            if (mainFieldName === "") {
                document.getElementById("mainNameWarn").style.visibility = "visible";
                handlingResult = false;
            }
            else {
                document.getElementById("mainNameWarn").style.visibility = "hidden";
            }

            for (let i = 0; i < elementsIndex; i++) {
                checkElementsFields(i);
            }

            if (handlingResult === true && fieldsNamesArray.length > 0) {
                checkFieldsNamesUniqueness();
            }

            return handlingResult;
        }

        function checkElementsFields(index) {
            let fieldName = document.getElementById(`name${index}`).value;
            if (fieldName === "") {
                document.getElementById(`nameWarn${index}`).style.visibility = "visible";
                handlingResult = false;
            }
            else {
                fieldsNamesArray.push(fieldName);
                document.getElementById(`nameWarn${index}`).style.visibility = "hidden";
            }
        }

        function checkFieldsNamesUniqueness() {
            let namesUnique = (new Set(fieldsNamesArray)).size === fieldsNamesArray.length;
            if (!namesUnique) {
                document.getElementById("duplicatedElementsWarn").style.visibility = "visible";
            }

            handlingResult = namesUnique;
        }

        function addElements() {
            let container = document.getElementById("elementsContainer");
            let newContent = document.createElement('newElement');
            newContent.innerHTML += `<div class="border border-primary" style="padding: 10px; margin-top: 10px">
                <div>
                    <label>Nazwa pozycji</label>
                    <input id="name${elementsIndex}" type="text" name="fieldsNames[${elementsIndex}]" class="form-control" placeholder="Nazwa"/>
                    <p id="nameWarn${elementsIndex}" class="text-danger" style="visibility: hidden">Proszę wprowadzić nazwę pozycji.</p>
                </div>
            </div>`;
            container.appendChild(newContent.firstChild);

            elementsIndex = elementsIndex + 1;

            if (elementsIndex > maxElementsNumber) {
                document.getElementById("btnAddElement").disabled = true;
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="margin-top: 10px;">Dodawanie słownika</h1>
            <br />
            <form id="dataForm" onsubmit="return handleSubmit()" class="form-group" th:action="@{/dictionary/add}" th:object="${dictionaryDto}" method="post">
                <div>
                    <label>Nazwa słownika</label>
                    <input id="mainName" type="text" th:field="*{name}" class="form-control" placeholder="Słownik" />
                    <p id="mainNameWarn" class="text-danger" style="visibility: hidden">
                        Proszę wprowadzić nazwę słownika.
                    </p>
                </div>
                <div class="border border-primary" style="padding: 10px">
                    <div>
                        <label>Nazwa pozycji</label>
                        <input id="name0" type="text" th:field="*{fieldsNames[0]}" class="form-control" placeholder="Nazwa" />
                        <p id="nameWarn0" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić nazwę pozycji.
                        </p>
                    </div>
                </div>
                <div id="elementsContainer"></div>
                <br />
                <button id="btnAddElement" type="button" class="btn btn-default" onclick="addElements()">+ Dodaj kolejną pozycję</button>
                <br />
                <p id="duplicatedElementsWarn" class="text-danger" style="visibility: hidden">
                    Nazwy pozycji muszą być unikalne.
                </p>
                <input type="submit" value="Zatwierdź" class="btn btn-default" />
            </form>
            <a th:href="@{/dictionary/list}">Powrót do listy słowników</a>
            <form th:action="@{/logout}" method="post" style="margin-top: 40px; margin-bottom: 30px;">
                <input class="btn btn-info" type="submit" value="Wyloguj się"/>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>