<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie grupy produktowej</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script type="text/javascript" th:inline="javascript">
        let attributesValues = [[${fieldTypes}]];
        let maxAttributesNumber = [[${maxAttributesNumber}]] - 1;
        let attributesIndex = 1;
        let handlingResult;
        let fieldsNamesArray;

        function handleSubmit() {
            fieldsNamesArray = [];
            handlingResult = true;
            let mainFieldName = document.getElementById("mainName").value;
            if (mainFieldName === "") {
                document.getElementById("mainNameWarn").style.visibility = "visible";
                handlingResult = false;
            }
            else {
                document.getElementById("mainNameWarn").style.visibility = "hidden";
            }

            for (let i = 0; i < attributesIndex; i++) {
                checkAttributesFields(i);
            }

            if (handlingResult === true && fieldsNamesArray.length > 0) {
                checkFieldsNamesUniqueness();
            }

            return handlingResult;
        }

        function checkAttributesFields(index) {
            let fieldName = document.getElementById(`name${index}`).value;
            if (fieldName === "") {
                document.getElementById(`nameWarn${index}`).style.visibility = "visible";
                handlingResult = false;
            }
            else {
                fieldsNamesArray.push(fieldName);
                document.getElementById(`nameWarn${index}`).style.visibility = "hidden";
            }

            let fieldOption = document.getElementById(`type${index}`).value;
            if (fieldOption === null) {
                document.getElementById(`typeWarn${index}`).style.visibility = "visible";
                handlingResult = false;
            }
            else {
                document.getElementById(`typeWarn${index}`).style.visibility = "hidden";
            }
        }

        function checkFieldsNamesUniqueness() {
            let namesUnique = (new Set(fieldsNamesArray)).size === fieldsNamesArray.length;
            if (namesUnique) {
                document.getElementById("duplicatedKeysWarn").style.visibility = "hidden";
            }
            else {
                document.getElementById("duplicatedKeysWarn").style.visibility = "visible";
            }

            handlingResult = namesUnique;
        }

        function addAttributes() {
            let optionsString = "";
            for (let i = 0; i < attributesValues.length; i++) {
                let attribute = attributesValues[i];
                let value = attribute['value'];
                let label = attribute['label'];
                optionsString += `<option value="${value}">${label}</option>`;
            }

            let container = document.getElementById("attributesContainer");
            let newContent = document.createElement('newAttribute');
            newContent.innerHTML += `<div class="border border-primary" style="padding: 10px; margin-top: 10px">
                <div>
                    <label>Nazwa cechy</label>
                    <input id="name${attributesIndex}" type="text" name="fieldsNames[${attributesIndex}]" class="form-control" placeholder="Nazwa"/>
                    <p id="nameWarn${attributesIndex}" class="text-danger" style="visibility: hidden">Proszę wprowadzić nazwę cechy.</p>
                </div>
                <div>
                    <label>Typ cechy</label>
                    <select id="type${attributesIndex}" class="form-control" name="fieldTypes[${attributesIndex}]">
                       ${optionsString}
                    </select>
                    <p id="typeWarn${attributesIndex}" class="text-danger" style="visibility: hidden">Proszę wybrać typ cechy.</p>
                </div>
            </div>`;
            container.appendChild(newContent.firstChild);

            attributesIndex = attributesIndex + 1;

            if (attributesIndex > maxAttributesNumber) {
                document.getElementById("btnAddAttribute").disabled = true;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="margin-top: 10px;">Dodawanie grupy produktowej</h1>
                <br />
                <form id="dataForm" onsubmit="return handleSubmit()" class="form-group" th:action="@{/product-group/add}" th:object="${templateDto}" method="post">
                    <div>
                        <label>Nazwa grupy produktowej</label>
                        <input id="mainName" type="text" th:field="*{name}" class="form-control" placeholder="Grupa produktowa" />
                        <p id="mainNameWarn" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić nazwę grupy produktowej.
                        </p>
                    </div>
                    <div class="border border-primary" style="padding: 10px">
                        <div>
                            <label>Nazwa cechy</label>
                            <input id="name0" type="text" th:field="*{fieldsNames[0]}" class="form-control" placeholder="Nazwa" />
                            <p id="nameWarn0" class="text-danger" style="visibility: hidden">
                                Proszę wprowadzić nazwę cechy.
                            </p>
                        </div>
                        <div>
                            <label>Typ cechy</label>
                            <select id="type0" class="form-control" th:field="*{fieldTypes[0]}">
                                <option th:each="fieldType : ${fieldTypes}" th:value="${fieldType.getValue()}" th:text="${fieldType.getLabel()}"></option>
                            </select>
                            <p id="typeWarn0" class="text-danger" style="visibility: hidden">
                                Proszę wybrać typ cechy.
                            </p>
                        </div>
                    </div>
                    <div id="attributesContainer"></div>
                    <br />
                    <button id="btnAddAttribute" type="button" class="btn btn-default" onclick="addAttributes()">+ Dodaj kolejną cechę</button>
                    <br />
                    <p id="duplicatedKeysWarn" class="text-danger" style="visibility: hidden">
                        Nazwy cech muszą być unikalne.
                    </p>
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </form>
                <a th:href="@{/product-group}">Powrót do listy grup produktowych</a>
                <form th:action="@{/logout}" method="post" style="margin-top: 40px; margin-bottom: 30px;">
                    <input class="btn btn-info" type="submit" value="Wyloguj się"/>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>