<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie grupy produktowej</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script type="text/javascript">
        let attributesIndex = 1;

        function handleSubmit() {
            let result = true;
            let mainFieldName = document.getElementById("mainName").value;
            if (mainFieldName == "") {
                document.getElementById("mainNameWarn").style.visibility = "visible";
                result = false;
            }
            else {
                document.getElementById("mainNameWarn").style.visibility = "hidden";
            }
            let fieldName = document.getElementById("name0").value;
            if (fieldName == "") {
                document.getElementById("nameWarn0").style.visibility = "visible";
                result = false;
            }
            else {
                document.getElementById("nameWarn0").style.visibility = "hidden";
            }
            let fieldOption = document.getElementById("type0").value;
            if (fieldOption == null) {
                document.getElementById("typeWarn0").style.visibility = "visible";
                result = false;
            }
            else {
                document.getElementById("typeWarn0").style.visibility = "hidden";
            }
            return result;
        }

        function addAttributes() {
            let container = document.getElementById("attributesContainer");
            container.innerHTML += `<div class=\"border border-primary\" style=\"padding: 10px; margin-top: 10px;\" ><p>Attribute ${attributesIndex}</p></div>`;
            attributesIndex = attributesIndex + 1;

            if (attributesIndex > 3) {
                document.getElementById("btnAddAttribute").disabled = true;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Dodawanie grupy produktowej</h1>
                <br />
                <form id="dataForm" onsubmit="return handleSubmit()" class="form-group" th:action="@{/product-group/add}" th:object="${templateDto}" method="post">
                    <div>
                        <label>Nazwa grupy produktowej</label>
                        <input id="mainName" type="text" th:field="*{name}" class="form-control" placeholder="Grupa produktowa" />
                        <p id="mainNameWarn" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić nazwę grupy produktowej.
                        </p>
                    </div>
                    <div class="border border-primary" style="padding: 10px">
                        <div>
                            <label>Nazwa cechy</label>
                            <input id="name0" type="text" th:field="*{fieldsNames[0]}" class="form-control" placeholder="Nazwa" />
                            <p id="nameWarn0" class="text-danger" style="visibility: hidden">
                                Proszę wprowadzić nazwę cechy.
                            </p>
                        </div>
                        <div>
                            <label>Typ cechy</label>
                            <select id="type0" class="form-control" th:field="*{fieldTypes[0]}">
                                <option th:each="fieldType : ${fieldTypes}" th:value="${fieldType.name()}" th:text="${fieldType.getLabel()}"></option>
                            </select>
                            <p id="typeWarn0" class="text-danger" style="visibility: hidden">
                                Proszę wybrać typ cechy.
                            </p>
                        </div>
                    </div>
                    <div id="attributesContainer"></div>
                    <br />
                    <button id="btnAddAttribute" type="button" class="btn btn-default" onclick="addAttributes()">+ Dodaj kolejną cechę</button>
                    <br /><br />
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </form>
                <a th:href="@{/product-group}">Powrót do listy grup produktowych</a>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>