<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie produktu</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script type="text/javascript" th:inline="javascript">
        let handlingResult;
        let propertiesCount = [[${propertiesCount}]];

        function handleSubmit() {
            handlingResult = true;
            checkField("name", "nameWarn");
            checkField("desc", "descWarn");
            checkField("manuCode", "manuCodeWarn");
            checkField("storeCode", "storeCodeWarn");

            for (let i = 0; i < propertiesCount; i++) {
                checkField(`prop${i}`, `prop${i}Warn`);
            }

            return handlingResult;
        }

        function checkField(fieldName, warnFieldName) {
            let value = document.getElementById(fieldName).value;
            if (value === "") {
                document.getElementById(warnFieldName).style.visibility = "visible";
                handlingResult = false;
            }
            else {
                document.getElementById(warnFieldName).style.visibility = "hidden";
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Dodawanie produktu</h1>
                <br />
                <h5>Dodawanie produktu dla grupy produktowej: <span th:text="${templateName}"/></h5>
                <br />
                <form id="dataForm" onsubmit="return handleSubmit()" class="form-group" th:action="@{/product/add}" th:object="${product}" method="post">
                    <input type="hidden" th:field="*{templateId}" th:value="${product.templateId}" />
                    <div>
                        <label>Nazwa produktu</label>
                        <input id="name" type="text" th:field="*{name}" class="form-control" placeholder="Nazwa" />
                        <p id="nameWarn" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić nazwę produktu.
                        </p>
                    </div>
                    <div>
                        <label>Opis produktu</label>
                        <textarea rows="4" cols="50" id="desc" form="dataForm" th:field="*{description}" class="form-control" placeholder="Opis"></textarea>
                        <p id="descWarn" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić opis produktu.
                        </p>
                    </div>
                    <div>
                        <label>Kod producenta</label>
                        <input id="manuCode" type="text" th:field="*{manufacturerCode}" class="form-control" placeholder="Kod" />
                        <p id="manuCodeWarn" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić kod producenta.
                        </p>
                    </div>
                    <div>
                        <label>Kod sklepu</label>
                        <input id="storeCode" type="text" th:field="*{storeCode}" class="form-control" placeholder="Kod" />
                        <p id="storeCodeWarn" class="text-danger" style="visibility: hidden">
                            Proszę wprowadzić kod sklepu.
                        </p>
                    </div>
                    <div>
                        <div th:each="property,iter : *{properties}">
                            <label th:text="${property.label}"></label>
                            <input type="hidden" th:field="*{properties[__${iter.index}__].id}" th:value="${property.id}" />
                            <input type="hidden" th:field="*{properties[__${iter.index}__].label}" th:value="${property.label}" />
                            <input type="hidden" th:field="*{properties[__${iter.index}__].fieldType}" th:value="${property.fieldType}" />
                            <input th:id="'prop' + ${iter.index}" type="text" class="form-control" th:if="${property.fieldType.name() == 'STRING'}" th:field="*{properties[__${iter.index}__].value}" />
                            <input th:id="'prop' + ${iter.index}" type="number" class="form-control" th:if="${property.fieldType.name() == 'LONG'}" th:field="*{properties[__${iter.index}__].value}" />
                            <input th:id="'prop' + ${iter.index}" type="number" th:step="0.000001" class="form-control" th:if="${property.fieldType.name() == 'DOUBLE'}" th:field="*{properties[__${iter.index}__].value}" >
                            <select th:id="'prop' + ${iter.index}" class="form-control" th:if="${property.fieldType.name() == 'STRING_D'}" th:field="*{properties[__${iter.index}__].value}">
                                <option th:each="value : ${dictionariesValues[__${property.getLabel()}__]}" th:value="${value}" th:text="${value}"></option>
                            </select>
                            <p th:id="'prop' + ${iter.index} + 'Warn'" class="text-danger" style="visibility: hidden">
                                Proszę wprowadzić wartość.
                            </p>
                        </div>
                    </div>
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </form>
                <a th:href="@{/product-group}">Powrót do listy grup produktowych</a>
                <form th:action="@{/logout}" method="post" style="margin-top: 40px; margin-bottom: 30px;">
                    <input class="btn btn-info" type="submit" value="Wyloguj się"/>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>