<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie grupy produktowej</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Dodawanie grupy produktowej</h1>
                <br />
                <form class="form-group" th:action="@{/product-group/add}" th:object="${template}" method="post">
                    <div>
                        <label>Nazwa grupy produktowej</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Grupa produktowa" />
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}">
                            Proszę wprowadzić poprawną nazwę grupy produktowej (2-30 znaków).
                        </p>
                    </div>
                    <br />
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </form>
                <a th:href="@{/product-group}">Powrót do listy grup produktowych</a>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>